:root{
    --aqua:#0e9ab3;
    --light:#E1D9D1;
}
html{
    scroll-behavior: smooth ;
}
.container{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
*{
    font-family: sans-serif;
}

#menu-container{
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
    justify-content: space-between;
   
   
}
.logo{
    color: white;
}
.icon{
    color: white;
    font-size: 22px;
    margin-bottom: 0;
    text-align: end;
    display: none;
}
#menu-container > ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    justify-content: end;
  
}
#menu-container > ul>li>a{
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
#menu-container > ul>li>a:hover{
  color: var(--aqua);
}
#menu-container .side{
    left: 0;
}

/* Hero section */
#hero{
    
    background-color: black;
   background-repeat: no-repeat;
   background-size: cover;
   clip-path:  polygon(100% 0, 100% 100%, 71% 79%, 0 100%, 0 0);
   z-index: -1;
   display: flex;
}
#hero .left{
   width: 100%;
   display: flex;
   justify-content: end;
}
#hero .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    
}
#hero .right h3,span{
    color: var(--aqua);
}
#hero .right .btn{
    width: 200px;
    background:transparent;
    color: var(--aqua);
    border: 1px solid var(--aqua);
}
#hero .right #readmore:hover{
    background-color: var(--aqua);
    color: black;
}
/* About section  */
.about{
    background-color: var(--light);
}
.about-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
   
    
    
}
.about-content h1,h3,p,.social{
   width: 100%;
   margin-bottom: 20px;
}
.social{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.social i{
    font-size: 32px;
    margin-right: 15px;
    color: black;
}
.social i:hover{
    color: var(--aqua);
}

/* card section  */
#card-section{
    background-color: #FAF0E6;
    padding: 30px 0;
}
.card{
    padding: 20px;
    padding-top: 50px;
    margin-top: 50px;
    background-color:white;
    text-align: center;
    position: relative;
}
.card:hover{
    background-color: black;
    color:white;
}
.card img{
    width: 70px;
    height: 70px;
    background-color: var(--aqua);
    padding: 10px;
    position: absolute;
    top: -35px;
    left:50%;
    transform: translateX(-50%);
}

/* Freelancer section  */
.freelancer{
    padding: 50px 0;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url("image/freelancer.png") no-repeat;
    color: white;
    clip-path:  polygon(100% 0, 100% 100%, 71% 79%, 0 100%, 0 0);
 
   
}

.freelancer h1{
    margin-bottom: 1.5rem;
}
.btnfreelancer{
    margin-bottom: 8rem;
    background-color: var(--aqua);
}
#btnfree:hover{
    background:var(--aqua);
}


/* Our client  */
.ourClient{
    padding: 30px 0;
    background-color:var(--light);
}
.slide{
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 16px ;
    padding: 10px 0;
}

.ourClient .slide img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* work section  */
.work{
    background-color: #FAF0E6;
    padding: 20px 0;
}
.work img{
    margin-bottom: 15px;
}

/* bolg section  */
.card1{
    /* border: 1px solid black; */
    box-shadow: 0 0 5px ;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.content{
    padding: 20px;
}
.content a{
    text-decoration: none;
    color: black;
}
.content a:hover{
    color: #0e9ab3;
}

/* contact section  */
.contact{
    
    padding: 20px;
}
#icon i{
    font-size: 48px;
    margin-bottom: 10px;
}
#input-wapper button{
   background-color: var(--aqua);
   border: none;
   color: white;
   width: 150px;
   padding: 10px 0;
    
}
#input-wapper textarea{
    width: 100%;
    height: 100px;
    outline: none;
    font-size: 18px;
    padding: 10px;
   
}

/* footer  */
.footer-container{
    background-color: black;
    color: white;
    padding: 50px 0;
}
.footer-container .row .col-12{
    margin-bottom: 30px;
}
.footer-container .footer-social a{
    text-decoration: none;
    color: white;
}
.footer-container .footer-social i {
    font-size: 32px;
    margin:10px;
    cursor: pointer;
    
}
.footer-container .footer-social i:hover{
    color: var(--aqua);
}




    



@media only screen and (max-width:768px){
    #hero{
        height: auto;
        clip-path: none
    }
    #hero .left{
        justify-content: center;
    }
    #hero .right{
       text-align: center;
       align-items: center;
        border-top: 1px solid white;
        padding: 20px 0;
    }
    .card{
        padding: 20px;
        padding-top: 50px;
        margin-top: 50px;
    }
    .ourClient .slide{
        width: 80%;
        
    }
   

}




 @media only screen and (max-width:575px){
    #header{
        padding: 0;
    }
    .icon{
        display: block;
        cursor: pointer;
    }
    #menu-container > ul{
        width:100%;
        height: 80vh;
        display: block;
        text-align: center;
        background-color:rgb(182, 176, 176);
        padding: 0;
        position: absolute;
        top:43px;
        left: -100%;
        transition: 0.5s ease;
        z-index:1;

    }
    #menu-container > ul>li{
        border-bottom: 1px solid black;
        
    } 
   
    #menu-container > ul>li>a{
        display: block;
        color: black;

    } 
    #menu-container > ul>li>a:hover{
        background: none;
        color: var(--aqua);
    }
    #hero{
        height: auto;
        clip-path: none
    }
   
    #hero .left{
        justify-content: center;
        
    }
    #hero .left img{
        width: 200px;
        
    }
    #hero .right{
        text-align: center;
        border-top: 1px solid white;
        padding: 20px 0;
    }
    .card{
        padding:10px 50px;
        margin: 30px 20px;
    }
    .freelancer,h1,p{
       padding-left: 20px;
       padding-right: 20px;
    }
    .about-content{
        width: 100%;
        text-align: center;
    }
    .about-content .social {
        display: flex;
        justify-content: center;
      
    }
    .ourClient .slide{
        width: 80%;
        
    }
    .card{
        padding: 20px;
        padding-top: 50px;
        margin-top: 20px;
    }
    .content p{
        padding: 0;
    }
   

}

